/*
filename: [Project 1]
author: [DANIEL YONG TZE MING, NGOI YE SHENG, TAN QIAO EN, WONG JOE YEE]
created: [7 September 2025]
last modified: [? September 2025]
description: [index.html, jobs.html, apply.html, about.html]
*/


/*qiaoen's part*/
header {
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 0%;
}

.logo {
    width: 6%;
    height: auto;
}

body {
    background-image: url("styles/images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h1 /* shorthand font property */ {
    font-variant: small-caps;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2%;
    color: antiquewhite;
    font-family:  "Helvetica", sans-serif; /*font will be change*/
}

.job-details h1 {
    font: small-caps normal 2em/1.2% antiquewhite "Helvetica", sans-serif;
}

nav a {
    
    color: lightgray;
    font-weight: bold;
}

nav a:hover {
    color: darkred;
}

.button /* button function */ {
    display: inline-block;
    padding: 1% 2%;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 8%;
    font-size: 93%;
    cursor: pointer;
}

.button:hover /*when cursor move, it changed color*/ {
    background-color: darkgrey;
}

aside /* easy access for users */ {
    width: 25%;
    float: right;
    border: 2px double darkblue; /* green border, change color if needed */
    margin: 2%;
    padding: 1.5%;
    background:url("styles/images/fade.jpg") repeat-x center center;
    background-size: 100%;
}

.job-positions h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height:  1em;
    margin: 20% 8%;
    padding: 0;
    color: whitesmoke;
    font-family:  "Geologic", sans-serif;
    font-size: 3em;
}

.job-positions h2 > span {
    position: relative;
    display: inline-block;
    color: blue;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}

.job-positions h2 > span > span {
    display: block;
    animation: animateWordsH2 7s infinite ease;
}

@keyframes animateWordsH2 {
    0% {transform: translateY(0%);}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-200%);}
    75% {transform: translateY(-300%);}
    100% {transform: translateY(-400%);}
}

.job-positions h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32%;
    margin: 20% 5%;
    padding: 0;
    color: whitesmoke;
    font-family:  "Geologic", sans-serif;
    font-size: 2.5em;  
    line-height: 1.2em;
}

.job-positions h3 > span {
    position: relative;
    display: inline-block;
    color: blue;
    height: 1.2em;
    vertical-align: bottom;
    overflow: hidden;
}

.job-positions h3 > span > span {
    display: block;
    height: 2.4em; 
    line-height: 2.4em;
    animation: animateWordsH3 10s infinite ease;
}

@keyframes animateWordsH3 {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-200%);}
    100% {transform: translateY(-400%);}
}


body /* for the container purposes */ {
    font-family: Arial, Helvetica, sans-serif;
}

.job-image {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.job-details {
    display: grid;
    grid-template-columns: 30% 70%; /* 30% for job title, 70% for description */
    gap: 2%; /* between each container */
    margin: 2%; /* space outside of the container */
    background-color: whitesmoke;
    border: 0.5% solid gray;
    border-radius: 3%;
    padding: 2%; /* adding this to make the inner space looks apropriate */
    box-shadow: 0 4px 10px darkgrey;
}

.job-details dt {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

.job-details dd {
    font-size: 0.95em;
    color: darkslategray;
    line-height: 1.6;
}


footer {
    width: 100%; /* cover the full width of the page */
    text-align: center;
    font-size: 0.8em; /* small font */
    background-color: lightgray;
    margin-top: 3%; /* spacing above */
    margin-bottom: 3%; /* spacing below */
    padding-bottom: 3%; 
}
